extends ./skeleton.jade

block append css
  link(href="/css/bootstrap-switch.min.css", rel="stylesheet", type="text/css")

block content
  div.container
    div.row
      div.col-lg-4.col-lg-offset-4
        a.btn.btn-primary.btn-lg.btn-block(role="button", href="/create")
          | Create a New Household
    hr
    div.row
      div.col-md-8.col-md-offset-2
        for household in households
          div.panel.panel-default
            div.panel-heading
              | #{household.name}
              a(href="/breakdown/#{household.id}")
                span.pull-right
                  | Household Breakdown
                  span.glyphicon.glyphicon-chevron-right(aria-hidden="true")
            div.panel-body
              form.form-horizontal
                unless household.appliances.length == 0
                  h4
                    a(href="/breakdown/#{household.id}/2")
                      | Control your appliances
                  for appliance in household.appliances
                    div.form-group
                      label.col-xs-5.control-label(for="") #{appliance.name}
                      div.col-xs-7
                        input.form-control.tracking(type="checkbox", data-appliance="#{appliance.id}", checked=(appliance.status == 1))
                        span.help-block 
                          | $5.14 this month
                else
                  | sfsf

block append scripts
  script(src="/js/bootstrap-switch.min.js")
  script.
    $(document).ready(function() {
      $(".tracking").bootstrapSwitch();
      $(".tracking").on('switchChange.bootstrapSwitch', function(evt, state) {
        $.get('/tracking/' + $(this).data('appliance'));
      });
    });

