extends ./skeleton.jade

block append css
	link(href="/css/bootstrap-switch.min.css", rel="stylesheet", type="text/css")
	link(href="/css/chartjs.css", rel="stylesheet", type="text/css")

block content
	div.container
		div.row
			div.col-md-10.col-md-offset-1
				ol.breadcrumb
					li: a(href="/breakdown/#{household.id}")
						| #{household.name}
					li
						| #{readOnly ? member.name + "'s Appliances" : 'My Appliances'}
				hr
				nav
					ul.nav.nav-tabs(data-tabs="tabs", role="tab-list")
						li.active(role="presentation"): a(href="#overview", data-toggle="tab") Appliances
						li(role="presentation"): a(href="#breakdown", data-toggle="tab") Appliance Breakdown
						li(role="presentation"): a(href="#logs", data-toggle="tab") Usage Logs
				hr
				div.tab-content
					div#overview.tab-pane.active
						div.col-md-8.col-md-offset-2
							div.panel.panel-default
								div.panel-heading
									| #{ readOnly ? "Viewing " + member.name + "'s appliances": 'Control your appliances'}
								div.panel-body
									unless readOnly
										button.btn.btn-success.btn-block#addAppliance(href='#' role='button' style="display:#{appliances.length === 0 ? 'none' : 'block'}")
											| Add Appliance
										div#addApplianceDiv(hidden=(appliances.length !== 0))
											hr
											form.form-horizontal(method="POST" action='/appliance/add/#{household.id}/')
												div.form-group
													label.col-sm-4.control-label Appliance Name
													div.col-sm-7
														input.form-control#addApplianceNameInput(type="text", name="name", required)
												div.form-group
													label.col-sm-4.control-label Usage Rate
													div.col-sm-7
														div.input-group
															input.form-control#addApplianceUsageRateInput(type="text", name="rate", value="0.1", required)
															span.input-group-addon kW/h
														span.help-block
															a#commonKwh() Click to see kW/h of common items
														div#commonKwhTable.hide
															table.table
																thead
																	th Item
																	th kW/h
																tbody
																	tr
																		td Laptop
																		td 0.025
																	tr
																		td Desktop PC
																		td 0.075
																	tr
																		td Monitor
																		td 0.042
																	tr
																		td TV (40")
																		td 0.086
															p To view more estimates, visit&nbsp;
																a(href="//energy.gov/energysaver/estimating-appliance-and-home-electronic-energy-use") energy.gov.
															p You can also find the exact input wattage for your appliance from its label and divide it by 1,000 to convert to kilowatts (kW).
												div.col-sm-5.col-sm-offset-1
													a.btn.btn-default.pull-right#cancelAddAppliance
														| Cancel
												div.col-sm-5
													button.btn.btn-success
														| Add
										div.clearfix
										hr
									if appliances.length !== 0
										form.form-horizontal
											for appliance in appliances
												div.form-group
													label.col-xs-5.control-label(for='')
														if readOnly
															| #{appliance.name}
														else
															a(href='/appliance/edit/#{household.id}/#{appliance.id}')
																| #{appliance.name}&nbsp;
																span.glyphicon.glyphicon-pencil
													div.col-xs-7
														input.form-control.tracking(type='checkbox' data-appliance='#{appliance.id}' checked=(appliance.status == 1) readonly=(readOnly))
														span.help-block(id='helpBlock')
															each applianceCostEntry in applianceMonthCosts
																if applianceCostEntry.applianceName == appliance.name
																	| $#{applianceCostEntry.cost} this month 
									else
										if readOnly
											p #{member.name} has not added any appliances, tell them to do so!

					div#breakdown.tab-pane
						div.col-md-10.col-md-offset-1
							h3
								| Appliance Usage
							if appliances.length === 0
								p Add some appliances to see a graphical breakdown of your usage.
							canvas(id='applianceChart' max-height='600' style="display:#{appliances.length === 0 ? 'none' : 'block'}")
						div.clearfix
						hr
						div.col-md-10.col-md-offset-1
							h3
								| Daily Usage
							canvas(id='dailyChart' max-height='600')
					div#logs.tab-pane
						div.col-md-10.col-md-offset-1
							each appliance in appliances
								div.panel.panel-default.table-responsive
									div.panel-heading
										| #{appliance.name}
										a.pull-right.toggle-logs(data-state="hidden")
											| View&nbsp;
											span.glyphicon.glyphicon-chevron-down
									table.table(style="display:none")
										thead
											th
												| Start time
											th
												| Endtime
											unless readOnly
												th
										tbody
											each usage, index in appliance.usage												
												tr
													td
														if readOnly
															| #{moment(usage.start).format('MM/DD/YYYY hh:mm:ss a')}
														else 
															input.form-control.usage-times(type="datetime-local" value="#{moment(usage.start).format('YYYY-MM-DDTHH:mm:ss')}")
													td
														if readOnly
															| #{usage.end === undefined ? '' : moment(usage.end).format('MM/DD/YYYY hh:mm:ss a')}
														else 
															input.form-control.usage-times(type="datetime-local" value="#{usage.end === undefined ? '' : moment(usage.end).format('YYYY-MM-DDTHH:mm:ss')}")
													unless readOnly
														td
															button.btn.btn-primary.disabled.submit-usage(data-appliance="#{appliance.id}" data-usage="#{usage.id}" data-index="#{index}")
																| Save



block append scripts
	- var colors = ["#F7464A", "#46BFBD", "#FDB45C", "#949FB1"];
	- var highlights = ["#FF5A5E", "#5AD3D1", "#FFC870", "#A8B3C5"];
	- var now = new Date(Date.now());
	- var pieData = [];
	- var labels = [];
	- var barTotalData = [0, 0, 0, 0, 0, 0, 0];
	- var barMyData = [0, 0, 0, 0, 0, 0, 0];
	- var myName = member.name;
	- var householdId = household.id;
	- var memberId = member.id;
	each usage, index in memberApplianceUsage
		- pieData.push({'value':usage.totalUsage, 'label':usage.applianceName, 'color':colors[index % 4], 'highlight':highlights[index % 4]});
	each day, i in weekBreakdown
		- labels.push(((now.getMonth() + 1) % 12) + "/" + (now.getDate() - 6 + i));
		each mem, j in day
			- barTotalData[i] += mem.usage;
			if member.name == mem.name
				- barMyData[i] += mem.usage;
	script(src='/js/Chart.js')
	script(src='/js/chart-config.js')
	script(src='/js/bootstrap-switch.min.js')
	script.
		var myName = !{JSON.stringify(myName)};
		var memberId = !{memberId};
		var householdId = !{householdId};
		var pieData = !{JSON.stringify(pieData)};
		var labels = !{JSON.stringify(labels)};
		var barTotalData = !{JSON.stringify(barTotalData)};
		var barMyData = !{JSON.stringify(barMyData)};
		var barData = {
		labels: labels,
		datasets: [
			{
				label: "Total Household Usage",
				fillColor: "rgba(220,220,220,0.5)",
				strokeColor: "rgba(220,220,220,0.8)",
				highlightFill: "rgba(220,220,220,0.75)",
				highlightStroke: "rgba(220,220,220,1)",
				data: barTotalData
			},
			{
				label: "Your Usage",
				fillColor: "rgba(151,187,205,0.5)",
				strokeColor: "rgba(151,187,205,0.8)",
				highlightFill: "rgba(151,187,205,0.75)",
				highlightStroke: "rgba(151,187,205,1)",
				data: barMyData
			}
		]};
		var chartsInitialized = false;
		$(document).ready(function() {
		  $(".tracking").bootstrapSwitch();
			$(".tracking").on('switchChange.bootstrapSwitch', function(evt, state) {
				$.post('/appliance/toggle/' + $(this).data('appliance'));
			});
		  $(".usage-times").on('change', function(evt) {
		  	$(this).parents("tr").find(".submit-usage").removeClass('disabled');
		  });

		  $(".submit-usage").on('click', saveLog);		  
		  $(".toggle-logs").on('click', toggleLogs); 

		  $("#addAppliance").on('click', function(evt) {
		  	evt.preventDefault();
		  	$("#addApplianceDiv").toggle();
		  	$(".tracking").bootstrapSwitch();
		  });

		  $("#cancelAddAppliance").on('click', function(evt) {
		  	evt.preventDefault();
		  	$("#addApplianceNameInput").val("");
		  	$("#addApplianceDiv").toggle();
		  });		  

		  $('a[href="#breakdown"]').on('shown.bs.tab', initCharts);
		  $('#commonKwh').on('click', function(evt) {
		  	evt.preventDefault();
		  	$('#commonKwhTable').toggleClass('hide');
		  	$('#commonKwh').text($('#commonKwhTable').hasClass('hide') ? "Click to see kW/h of common items" : "Hide table");
		  });
		});

		function saveLog(evt) {
			console.log($(this).closest("tr"));
		}

		function toggleLogs(evt) {
			evt.preventDefault();
			var text = '';
			var state = $(this).data("state");
			if (state === "hidden") {
				text = 'Hide <span class="glyphicon glyphicon-chevron-up"></span>';
				$(this).data("state", "shown");
			} else {
				text = 'Show <span class="glyphicon glyphicon-chevron-down"></span>';
				$(this).data("state", "hidden");
			}
			$(this).html(text);
			$(this).parents(".panel").find(".table").slideToggle();
		}

		function initCharts(evt) {
			if (!chartsInitialized) {
				var ctx = $("#applianceChart").get(0).getContext("2d");		  		
				window.myPie = new Chart(ctx).Pie(pieData);
				$("#applianceChart").after(window.myPie.generateLegend());

				var ctx = $("#dailyChart").get(0).getContext("2d");
				window.myBar = new Chart(ctx).Bar(barData);
				$("#dailyChart").after(window.myBar.generateLegend());
				chartsInitialized = true;
				setInterval(function() {
		  		$.get("/stats/" + householdId + "/" + memberId, updateDisplay);
		  	}, 3000);
			}
		}

		function updateDisplay(result) {
			console.log("updateDisplay called with result " + JSON.stringify(result));
			// update pie chart with new data
			var newPieData = [];
			for (var i = 0; i < result.userUsageData.memberApplianceUsage.length; i++) {
				var applianceTuple = result.userUsageData.memberApplianceUsage[i];
				for (var j = 0; j < window.myPie.segments.length; j++) {
					if (window.myPie.segments[j].label == applianceTuple.applianceName) {
						window.myPie.segments[j].value = applianceTuple.totalUsage;
						break;
					}
				}
			}
			window.myPie.update();

			// update bar chart with new data
			var newBarLabels = [];
			var now = new Date(Date.now());
			var newBarTotalData = [0, 0, 0, 0, 0, 0, 0];
			var newBarMyData = [0, 0, 0, 0, 0, 0, 0];
			for (var i = 0; i < result.weekBreakdown.length; i++) {
				newBarLabels.push(((now.getMonth() + 1) % 12) + "/" + (now.getDate() - 6 + i));
				for (var j = 0; j < result.weekBreakdown[i].length; j++) {
					newBarTotalData[i] += result.weekBreakdown[i][j].usage;
					if (result.weekBreakdown[i][j].name == myName) {
						newBarMyData[i] += result.weekBreakdown[i][j].usage;
					}
				}
			}
			for (var i = 0; i < newBarTotalData.length; i++) {
				window.myBar.datasets[0].bars[i].value = newBarTotalData[i];
				window.myBar.datasets[1].bars[i].value = newBarMyData[i];
				if (window.myBar.scale.xLabels[6] != newBarLabels[6]) {
					window.myBar.scale.xLabels[i] = newBarLabels[i];
				}
			}
			window.myBar.update();
		}
