doctype html
html
    include ./includes/head.jade
    if AB == 0
        script.
            function utmx_section(){}function utmx(){}(function(){var
            k='117683209-0',d=document,l=d.location,c=d.cookie;
            if(l.search.indexOf('utm_expid='+k)>0)return;
            function f(n){if(c){var i=c.indexOf(n+'=');if(i>-1){var j=c.
            indexOf(';',i);return escape(c.substring(i+n.length+1,j<0?c.
            length:j))}}}var x=f('__utmx'),xx=f('__utmxx'),h=l.hash;d.write(
            '<sc'+'ript src="'+'http'+(l.protocol=='https:'?'s://ssl':
            '://www')+'.google-analytics.com/ga_exp.js?'+'utmxkey='+k+
            '&utmx='+(x?x:'')+'&utmxx='+(xx?xx:'')+'&utmxtime='+new Date().
            valueOf()+(h?'&utmxhash='+escape(h.substr(1)):'')+
            '" type="text/javascript" charset="utf-8"><\/sc'+'ript>')})();
            </script><script>utmx('url','A/B');
    body
        nav.navbar.navbar-default.navbar-static-top(style="position:absolute;width:100%;background-color:rgba(0,0,0,0);border:none")
            div.container
                div.navbar-header
                    button.navbar-toggle.collapsed(data-toggle="collapse", data-target="#navbar", aria-expanded="false", aria-controls="navbar", style="background-color:rgba(0,0,0,0); ")
                        span.sr-only
                          | Toggle navigation
                        span.icon-bar(style="background-color:white")
                        span.icon-bar(style="background-color:white")
                        span.icon-bar(style="background-color:white")
            
                div#navbar.navbar-collapse.collapse(style="border:none")
                    ul.nav.navbar-nav.navbar-right
                        li
                            a(href="/signup" style="color:white" onclick="gaSendEvent('signup', 'hamburger')")
                                | Sign Up 
                        li
                            a(href="/login" style="color:white" onclick="gaSendEvent('login', 'hamburger')")
                                | Log In              

        div.jumbotron(style="background-image:linear-gradient(120deg, #155799, #159957);height:100vh")
            div.container.text-center(style="position: relative;top: 40%;transform: translateY(-40%);")
                h1(style="color:white")
                    | Ekceltricity
                h3(style="color:white;opacity:0.7")
                    | Analytics for your electricity
                p
                    if AB == 0
                        a.btn.btn-default.btn-lg(href="/signup" style="background-color: rgba(255, 255, 255, 0.08); color:white; margin:1em 0.5em 0 0em" onclick="gaSendEvent('signup', 'jumbo')") Sign Up
                    else
                        a#learnMore.btn.btn-default.btn-lg(style="background-color: rgba(255, 255, 255, 0.08); color:white; margin:1em 0.5em 0 0em" onclick="gaSendEvent('learn-more', 'jumbo')") Learn More
                    a.btn.btn-default.btn-lg(href="/login" style="background-color: rgba(255, 255, 255, 0.08); color:white; margin:1em 0em 0 0.5em" onclick="gaSendEvent('login', 'jumbo')") Log In
        div#info.container
            div.row
                div.col-sm-6.col-sm-offset-3
                    h3.text-center Ekceltricity lets you track your electricity usage and identify which of your appliances cost you the most money.
                div.col-sm-2.col-sm-offset-5
                    hr
                div.clearfix
                div.col-sm-6.col-md-4
                    div.thumbnail(style="border:none")
                        img.img-responsive(src="/images/graph-icon.png" style="max-height:128px")
                        div.caption.text-center
                            h3 Detailed Analysis
                            p Our detailed graphs and charts continuously compares your electricity usage throughout the week
                div.col-sm-6.col-md-4
                    div.thumbnail(style="border:none")
                        img.img-responsive(src="/images/seo-report.png" style="max-height:128px")
                        div.caption.text-center
                            h3 Identify Trends
                            p Our appliance usage logs and charts help you visualize when you use your appliances and how much they're costing you
                div.col-sm-6.col-md-4
                    div.thumbnail(style="border:none")
                        img.img-responsive(src="/images/round-pie-chart.png" style="max-height:128px")
                        div.caption.text-center
                            h3 Fair Split
                            p Create a household and encourage your roommates to track their own usage, to split the electricity bill evenly
                div.col-sm-4.col-sm-offset-4
                    a.btn.btn-block.btn-lg.btn-success(href="/signup" onclick="gaSendEvent('signup', 'get-started')") Click Here to Get Started
    hr
    div.container
      div.row
        div.col-ms-12.text-center(style="color:#888")
          p Copyright (C) 2016 Ekceltricity
          p
            | Icons made by&nbsp;
            a(href="http://www.freepik.com" title="Freepik")
                | Freepik&nbsp;
            | from&nbsp;
            a(href="http://www.flaticon.com" title="Flaticon")
                | www.flaticon.com&nbsp;
            | is licensed by&nbsp;
            a(href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank")
                |CC 3.0 BY
    include ./includes/scripts.jade
    script.
        $(document).ready(function() {
            $("#learnMore").on('click', function(e) {
                e.preventDefault();
                $("html, body").animate({
                    scrollTop: $("#info").offset().top
                }, 500);
            });
        });
        function gaSendEvent(category, label) {
            ga("send", "event", category, 'click', label);
        }